body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-color);
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
    box-shadow: 0px 1px 1px rgba(46, 47, 66, 0.16);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

:root {
    --body-color: #434455;
    --border: 1px solid #e7e9fc;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.menu-item {
    color: #434455;
    padding: 24px 24px;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 70px;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.head-div {
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ul-adress {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.nav {
    display: flex;
    align-items: center;
}

.custom {
    padding-top: 120px;
    padding-bottom: 120px;
}

.h-custom {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.list-custom {
    display: flex;
    gap: 24px;
}

.li-custom {
    height: 88px;
    width: calc((100% - 120px) / 6);
}

.div-custom {
    margin-bottom: 72px;
}

.icon {
    fill: currentColor;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-custom {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    margin-bottom: 72px;
}

.logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #404bbf;
    margin-right: 76px;
    position: relative;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    margin-right: 76px;
}

.cont-footer {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.container-footer {
    margin: 100px 0px 100px 156px;
}

.soc-div {
    margin-right: 80px;
}

.icon-footer {
    fill: #f4f4fd;
}


.p-foot-index {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.ul-foot {
    display: flex;
    gap: 16px;
}

.li-foot {
    width: 40px;
    height: 40px;
}

.a-foot {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #FFFFFF;
    display: flex;
    gap: 40px;
}

.list-team {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
}

.list-img {
    gap: 24px;
    display: flex;
}

.list-products {
    padding: 0;
    gap: 24px;
}

.li-img {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.li-prod {
    width: calc((100% - 72px) / 4);
}

.li-gap {
    gap: 24px;
}

.li-foot {
    margin-right: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.prod-li {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.img-section {
    padding: 120px 0 120px;
}

.img {
    padding-bottom: 120px;
}

.img-p {
    padding-top: 96px;
    padding-bottom: 120px;
}

.listp {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    text-align: center;
}

.list-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-bottom: 8px;
}

.link {
    text-decoration: none;
    padding: 24px 0 24px;
}

.adress {
    font-style: normal;
}

.studio {
    color: #2E2F42;
}

.headstudio {
    color: #2e2f42;
}

.about {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.orderservice {
    padding: 188px 0 188px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 50px;
    block-size: 1440px 600px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    max-width: 100%;
}

.tittle {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: 300px;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0 120px;
}

.li-team {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img {
    background-color: #FFFFFF;
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.div-team {
    padding: 32px 0;

}

.social-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-li {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-team {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team {
    fill: #f4f4fd;
}

.titlle-img {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.p-foot {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.studio {
    color: #f4f4fd
}

.port-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.container-port {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.container-products {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 356px 635px 188px 480px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-style {
    background: #404BBF;
    background-color: #4D5AE5
}

.button-port {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    padding: 12px 24px;
    border: var(--border);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-port {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.p-port {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.head-a {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    color: #404bbf;
}

.link:focus {
    color: #404bbf;
}

.menu-item:hover {
    color: #404bbf;
}

.menu-item:focus {
    color: #404bbf;
}

.port-a {
    color: #2e2f42;
}

.a-portfolio {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-portfolio {
    position: relative;
    overflow: hidden;
}

.p-portfolio {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-portfolio:hover {
    transform: translateY(0%);
}

.a-portfolio:focus {
    transform: translateY(0%);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.button-port:hover {
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-port:focus {
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    background-color: #404BBF;
}

.a-custom:hover {
    border-color: #404bbf;
    color: #404bbf;
}

.a-custom:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.a-foot:hover {
    background-color: #31d0aa;
    transform: translateY(0%);
}

.a-foot:focus {
    background-color: #31d0aa;
    transform: translateY(0%);
}

.a-team:hover {
    background-color: #404bbf;
}

.a-team:focus {
    background-color: #404bbf;
}

.a-portfolio:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%)
}

.a-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%)
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mod {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: 100%;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    padding: 72px 24px 24px 24px;
}

.mod-butt {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-butt:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.mod-butt:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.mod-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-form {
    margin-right: 159px;
}

.p-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.p-form {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form {
    display: flex;
    gap: 24px;
}

.label-form {
    gap: 24px;
}

.mod-form-div {
    margin-bottom: 8px;
}

.mod-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.mod-label-div {
    position: relative;
}

.mod-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-input:focus {
    border-color: #4D5AE5;
}

.mod-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #4D5AE5;
}

.mod-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-textarea:focus {
    border-color: #4D5AE5;
}

.mod-five {
    margin-bottom: 24px;
}

.visually-hidden {
    visibility: hidden;
}

.mod-five-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.mod-five-a {
    color: #4d5ae5;
}

.mod-six-butt {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-form {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

.button-form {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.icon-form {
    margin-left: 16px;
}

.mod-div-comment {
    margin-bottom: 16px;
}

.input-check:checked+.mod-five-label span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}